#include <stdio.h>
#include "floatfann.h"

int main()
{
    fann_type *calc_out;
    fann_type input[{{ nueron_layers[0] }}];

    struct fann *ann = fann_create_from_file("xor_float.net");

    {% for learning_datum in learning_data %}
        {% for input in learning_datum[0] %}
            input[{{ loop.index - 1 }}] = {{ input }} ;
        {% endfor %}
        calc_out = fann_run(ann, input);
        printf("xor test ({% for input in learning_datum[0] %},%f{% endfor %}) -> %f\n"{% for input in learning_datum[0] %}, input[{{ loop.index }}]{% endfor %}, calc_out[0]);
    {% endfor %}


    fann_destroy(ann);
    return 0;
}